html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  touch-action: manipulation;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.texto {
  position: fixed;
  left: 50%;
  /*top: 30px;*/
  transform: translateX(-50%);
  text-align: center;
  transition: font-family 0.15s ease;
  color: #fff;
  font-size: 25px;
  letter-spacing: 0.08em;
  pointer-events: none; /* so taps go through to the canvas */
  font-family: 'Loop4ever1', system-ui, sans-serif;
}

.texto.titulo {
  top: 30px;
  font-size: 35px;
  text-transform: uppercase;
}

.texto.instagram{
  bottom: 80px;
}

.link.instagram {
  pointer-events: auto;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  color: white
}

.texto.track {
  text-transform: uppercase;
  position: absolute;
  opacity: 0.5;
  transform: translate(-50%, -50%); /* Center on the coordinate */
  transition: opacity 1.5s ease-out;
  left: 0; /* Override the 50% from .texto */
}

@font-face {
  font-family: 'Loop4ever1';
  src: url('./assets/fonts/Loop4ever_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Loop4ever2';
  src: url('./assets/fonts/Loop4ever_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Loop4ever3';
  src: url('./assets/fonts/Loop4ever_3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
