html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  touch-action: manipulation;
}
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
